{% extends 'base.html.twig' %}

{% block title %}Nouveau Match - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-4 custom-contact-container">
    <div class="row">
        <div class="col text-center">
            <div class="rounded-pill bg-dark d-inline-block p-3">
                <h2 class="section-title m-0">Ajouter un match</h2>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-12 semi-transparent-bg-white p-4 text-center text-black">
            <p>Merci d'écrire le noms des matchs sous la forme suivante :</p>
            <p>Huitiemes Match 3<br>
                Quart Match 4<br>
                Demi Match 2<br>
                Petite finale<br>
                Grande finale</p>
    </div>
        </div>
            </div>
                 <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-12 semi-transparent-bg-white p-4 text-center text-black">
                    {{ form_start(form) }}
                    
                    <div class="mb-3">
                        {{ form_label(form.name, 'Nom du match', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary">Créer le match</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}