{% extends 'base.html.twig' %}

{% block title %}Page du Tournoi{% endblock %}

{% block body %}

<!-- Main Content -->
<div class="container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col text-center">
            <div class="rounded-pill bg-dark d-inline-block p-3">
                <h2 class="section-title m-0">{{ tournament.tournamentName }}</h2>
            </div>
            <p class="section-description"></p>
        </div>
    </div>
</div>

<div class="container mt-4 semi-transparent-bg-white text-center text-black mb-4">
    <div class="row align-items-center">
        <div class="col-md-4 mb-4 mb-md-0">
            <img src="{{ asset('images/' ~ tournament.poster) }}" class="img-fluid rounded-start" alt="Image du tournoi">
        </div>
        <div class="col-md-8">
            <h2 class="section-title text-black">{{ tournament.tournamentName }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered mt-4">
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 30%;"><i class="bi bi-geo-alt-fill icon-tournoi"></i> Lieu :</th>
                            <td style="width: 70%;">{{ tournament.location }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-calendar-date icon-tournoi"></i> Date :</th>
                            <td>{{ tournament.date|date('d F Y') }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-people-fill icon-tournoi"></i> Nombre d'équipes :</th>
                            <td>{{ tournament.teamCount }} équipes</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-trophy-fill icon-tournoi"></i> Nombre de joueur/équipe :</th>
                            <td>{{ tournament.playerTeamCount }} joueurs</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-cash-coin icon-tournoi"></i> Prix par équipe :</th>
                            <td>{{ tournament.price }} €</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-trophy-fill icon-tournoi"></i> Récompenses :</th>
                            <td>{{ tournament.rewards }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                {% if app.user %}
                    {% if isAlreadyRegistered %}
                        <p class="alert alert-info">Vous êtes déjà inscrit à ce tournoi.</p>
                        {# todo ajouter un bouton pour revenir à la liste des tournois et changer de tournoi #}
                        <div class="text-center mt-4 mb-2">
                <a href="{{ path('app_tournament_browse') }}" class="btn btn-success">Retour à la liste des tournois</a>
                        </div>
                    {% else %}
                        <form method="post" action="{{ path('app_tournament_register_process', {'id': tournament.id}) }}">
                            <button type="submit" class="fs-4 px-4 py-3 rounded pen-icon-solo text-decoration-none text-black btn btn-secondary">
                                J'inscris mon équipe
                            </button>
                        </form>
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}" class="fs-4 px-4 py-3 rounded pen-icon-solo text-decoration-none text-black btn btn-secondary">
                        <i class="bi bi-person me-2"></i> Connectez-vous pour vous inscrire
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
