{% extends 'base.html.twig' %}

{% block title %}Page du Tournoi{% endblock %}

{% block body %}

<!-- Main Content -->
<div class="container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col text-center">
            <div class="rounded-pill bg-dark d-inline-block p-3">
                <h2 class="section-title m-0">{{ tournamentRead.TournamentName }}</h2>
            </div>
            <p class="section-description"></p>
        </div>
    </div>
</div>

<div class="container mt-4 semi-transparent-bg-white text-center text-black mb-4">
    <div class="row align-items-center">
        <div class="col-md-4 mb-4 mb-md-0">
            <img src="{{ asset('images/' ~ tournamentRead.Poster) }}" class="img-fluid rounded-start" alt="Image du tournoi">
        </div>
        <div class="col-md-8">
            <h2 class="section-title text-black">{{ tournamentRead.TournamentName }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered mt-4">
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 30%;"><i class="bi bi-geo-alt-fill icon-tournoi"></i> Lieu :</th>
                            <td style="width: 70%;">{{ tournamentRead.Location }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-calendar-date icon-tournoi"></i> Date :</th>
                            <td>{{ tournamentRead.Date|date('d F Y') }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-people-fill icon-tournoi"></i> Nombre d'équipes :</th>
                            <td>{{ tournamentRead.TeamCount }} équipes</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-trophy-fill icon-tournoi"></i> Nombre de joueur/équipe :</th>
                            <td>{{ tournamentRead.PlayerTeamCount }} joueurs</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-cash-coin icon-tournoi"></i> Prix par équipe :</th>
                            <td>{{ tournamentRead.Price }} €</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="bi bi-trophy-fill icon-tournoi"></i> Récompenses :</th>
                            <td>{{ tournamentRead.Rewards }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <div class="text-center mt-4">
        {% if app.user %}
            {% if app.user.tournament == tournamentRead %}
                <p class="alert alert-info">Vous êtes déjà inscrit à ce tournoi.</p>
            {% else %}
                <form method="post" action="{{ path('app_tournament_register', {'id': tournamentRead.id}) }}">
                    {% if app.user.tournament %}
                        <p class="alert alert-warning">Attention : Vous êtes actuellement inscrit au tournoi "{{ app.user.tournament.TournamentName }}". En vous inscrivant à ce nouveau tournoi, vous serez désinscrit de l'ancien.</p>
                    {% endif %}
                    <button type="submit" class="fs-4 px-4 py-3 rounded pen-icon-solo text-decoration-none text-black btn btn-secondary">
                        <i class="bi bi-pen me-2"></i> {% if app.user.tournament %}Changer de tournoi{% else %}J'inscris mon équipe{% endif %}
                    </button>
                </form>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="fs-4 px-4 py-3 rounded pen-icon-solo text-decoration-none text-black btn btn-secondary">
                <i class="bi bi-person me-2"></i> Connectez-vous pour vous inscrire
            </a>
        {% endif %}
    </div>
        </div>
    </div>
</div>

{% endblock %}
