{% extends 'base.html.twig' %}

{% block title %}O'FOOT - Liste des Tournois{% endblock %}


{% block body %}

   <div class="container mt-4 custom-contact-container">
            <div class="row">
                <div class="col text-center">
                    <div class="rounded-pill bg-dark d-inline-block p-3">
                        <h2 class="section-title m-0">Les tournois</h2>
                    </div>
                </div>
            </div>

<div class="container mt-4">
    <div class="row">
        {% for currentTournament in tournamentHome %}
        <div class="col-md-6">
            <div class="textblack">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                    <div class="col-4 movie__poster">
                        <img src="{{ asset('images/' ~ currentTournament.poster) }}" class="img-fluid rounded-start">
                    </div>
                    <div class="col-8 p-4 d-flex flex-column position-static text-center">
                        <h3 class="mb-2">{{ currentTournament.TournamentName }}</h3>
                        <p class="mb-1">{{ currentTournament.Location }}</p>
                        <p class="mb-1">{{currentTournament.Date|date('d F Y') }}</p>
                        <p class="mb-1">{{ currentTournament.PlayerTeamCount }}</p>
                        <p class="mb-1">{{ currentTournament.Price }}</p>
                        <p class="mb-1">{{ currentTournament.Rewards }}</p>
                        <a href="{{ path('app_tournament_read', {id: currentTournament.Id}) }}" class="fs-1 mt-3 text-dark align-self-center arrow-icon">
                            <i class="bi bi-arrow-right-circle-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}