{% extends 'base.html.twig' %}

{% block title %}Mon Club{% endblock %}

{% block body %}

<!-- Main Content -->
<div class="container my-5 flex-grow-1">
    <div class="row justify-content-center">
        <!-- Club Information -->
        <div class="col-md-8 mb-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="mb-0 text-center">{{ clubInfo.clubName }}</h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center">
                    <img src="{{ clubInfo.clubLogo }}" style="width: 350px; height: 200px;" class="rounded-circle mb-3" alt="Club Logo">
                    <h6 class="mb-1 text-black">{{ clubInfo.clubName }}</h6>
                    <p class="text-muted mb-1">N° de licence : {{ clubInfo.clubLicenceNumber }}</p>
                    <p class="text-muted mb-1">Adresse : {{ clubInfo.clubAdress }}</p>
                    <p class="text-muted mb-1">Date de création : {{ clubInfo.clubDateCreation }}</p>

                    <h5 class="mt-4 text-black">Membres du club :</h5>
                    {% if clubInfo.members is not empty %}
                        <ul>
                            {% for member in clubInfo.members %}
                                <li class="text-black">{{ member.firstname }} {{ member.lastname }} ({{ member.email }})</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-black">Aucun membre rattaché à ce club</p>
                    {% endif %}

                   <h5 class="mt-4 text-black">Tournois auxquels vous êtes inscrit :</h5>
                {% if clubInfo.tournaments is not empty %}
                        <ul class="list-unstyled">
                            {% for tournament in clubInfo.tournaments %}
                                <li class="text-black">{{ tournament.tournamentName }} le {{ tournament.tournamentDate }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-black">Aucun tournoi à venir</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
