{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Club</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Club_name</th>
                <td>{{ club.clubName }}</td>
            </tr>
            <tr>
                <th>Licence_number</th>
                <td>{{ club.licenceNumber }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ club.adress }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ club.logo }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ club.createdAt ? club.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ club.updatedAt ? club.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_club_back_index') }}">back to list</a>

    <a href="{{ path('app_club_back_edit', {'id': club.id}) }}">edit</a>

    {{ include('club_back/_delete_form.html.twig') }}
{% endblock %}
